@model List<Todo>

<div class="container-fluid p-4 border rounded shadow bg-white">
    <div class="d-flex justify-content-between mb-3">
        <h4>Your Tasks Completed</h4>
    </div>
    @if(Model.Count > 0)
    {   
        <div class="list-group">
            @foreach (var todo in Model)
            {
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 align-items-center">
                        <form method="post" asp-action="UpdateStatus" asp-controller="Todos">
                            <input type="hidden" name="TodoId" value="@todo.Todoid" />

                            <input type="checkbox" class="form-check-input me-3"
                            name="Status"
                            checked
                            onchange="this.form.submit();" />
                        </form>
                        <h5 class="mb-1 text-start flex-grow-0 text-decoration-line-through" style="min-width: 150px; max-width: 250px; overflow: hidden;">
                            @todo.Title
                        </h5>
                        <small class="text-nowrap ms-auto text-decoration-line-through" style="text-align: start;">@todo.Description</small>
                        <div class="ms-auto me-2">
                            <span class="badge bg-success text-dark rounded-pill">Completed</span>
                        </div>

                        <form method="post" asp-action="Delete" asp-controller="Todos" class="ms-3">
                            <input type="hidden" name="TodoId" value="@todo.Todoid" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">
                                <i class="bi bi-trash-fill text-white"></i>
                            </button>
                        </form>
                    </div>

                </div>
            }
        </div>
    } else {
        <div class="d-flex justify-content-center align-items-center flex-column" style="height: 40vh">
            <i class="bi bi-journal-check fs-1 me-2"></i>
            <h5>You don't have completed Tasks</h5>
        </div>
    }
</div>